*:focus {
  outline: none;
}

body {
  max-width: 1080px;
  margin: 0 auto !important;
  float: none !important;
  padding: 1.5em;
  background-color: #fff;
  background-image: linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px), linear-gradient(#eee .1em, transparent .1em);
  background-size: 100% 1.2em;
}

.card-ui {
  background-color: yellow;
  padding: 1em;
  margin: 1.5em;
}

.img-container {
  height: 100px;
  max-height: 100px;
}

.card-ui .header {
  font-size: 1.5em;
  font-weight: bold;
  text-transform: capitalize;
}

.card-ui .subHeader {
  font-size: 1em;
}

.card-ui .desc {
  font-size: 1.7em;
}

.responsive-img {
  max-height: 150px;
  height: 100%;
  width: auto;
}