.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper>* {
  padding: 0 90px;
}

header {
  display: flex;
  height: 120px;
  align-items: flex-end;
  justify-content: space-between;
}

main {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.search-layout {
  display: flex;
  flex-direction: column;
}

.switchList-layout {
  display: flex;
  flex-grow: 1;
}

footer {
  width: 100%;
  text-align: end;
  position: fixed;
  right: 0;
  bottom: 0;
}