input:focus, select:focus {
  outline: none;
}

input:hover {
  color: black;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAAAy0lEQVRIie3TPWoCURSG4QcSELuElLOCWNgGxC3YuYDpXIBFtpAV2MU+nVuIjQtwBRZWYjpBUJw0x4TIhKhzSTUvnGbud17O/RlqalIyRJbAk4XrBzkKLNCqIG+FowjnF3d4j4UPdK+QP2EVjhkeTgMNvEVgi/4F8h420TtB87fgDUYR3GNwhjzHLnpecXvORM84RNNLgtyfk41PJrtmp6WUnW2Vuyqlg3UIp1FFfOtUlR959P2+CyzRTiU/kmEeleKPL+U+qqbmH/kEO341nt7A5z4AAAAASUVORK5CYII=');
  background-repeat: no-repeat, repeat;
  background-position: right 0.4em top 50%, 0 0;
  background-size: 1.05em auto, 100%;
  padding-right: 68px !important;
}

select::-ms-expand {
  display: none;
}

select option {
  font-weight: normal;
  color: #222;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.myStyle {
  border: none;
  font-size: 14px;
  font-weight: 700;
  color: #444;
  padding: 0.3em 0.6em;
  margin: 0em 0.6em 0.7em 0em;
}

.row {
  display: flex;
  width: 100%;
}

.row .left-row {
  display: flex;
}

.row .right-row {
  display: flex;
}