.float-button {
  z-index: 999;
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 0.5em;
  border: none;
  cursor: pointer;
  background-color: #fff0;
}

.float-icon {
  filter: opacity(30%) grayscale(100%);
}

.float-icon.active {
  filter: opacity(100%) grayscale(0%);
}

.float-button:hover>.float-icon {
  filter: opacity(100%) grayscale(100%);
}

ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
}

ul.breadcrumb li {
  display: inline;
  color: #8c8c8c;
  font-size: 2em;
  text-transform: capitalize;
}

ul.breadcrumb li:hover {
  color: #01447e;
  cursor: pointer;
}

ul.breadcrumb li+li:before {
  padding-left: 8px;
  color: black;
  content: "/\00a0";
}

ul.breadcrumb li:hover:last-child {
  color: #8c8c8c;
  cursor: default;
}