.float-button {
  z-index: 999;
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 0.5em;
  border: none;
  cursor: pointer;
  background-color: #fff0;
}

.float-button:focus {
  outline: none;
}

.float-icon {
  filter: opacity(30%) grayscale(100%);
}

.float-icon.active {
  filter: opacity(100%) grayscale(0%);
}

.float-button:hover>.float-icon, .float-button:focus>.float-icon {
  filter: opacity(100%) grayscale(100%);
}

.silder-container {
  margin: 0 -90px;
  max-width: 100%;
  overflow-x: hidden;
}

@media only screen and (max-width: 600px) {
  .silder-container {
    margin: 0;
  }
}